.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .ui.card {
  width: 100%;
  margin: auto;
  box-shadow: 0px 8px 20px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 15px;
  max-width: 700px;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 1em;
}

.App .ui.card h2:after {
  margin-top: .1em;
  margin-bottom: .1em;
  content:' ';
  display:block;
  border:2px solid #007fd4;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.App .ui.card .ui.card {
  box-shadow: 0px 0px 0px 0px white;
  border: 1px solid gray;
}

.App .card .card .card-title:after {
  border:0px solid #007fd4;
}
.App .noshadow .card {
  box-shadow: 0;
}