@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #96D0F1;
  font-family: 'Lato', sans-serif;
}

footer p {
  color: #333;
  font-size: 12px;
}

footer a {
  color: #333;
}

footer a:hover {
  color: #999;
  text-decoration: none;
}

body.white {
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#MentorButton{
  background-color: #3AA5B0;
  color: white;
}

#AdminPage{
  background-color: #FBCDC2;
  color: white;
}

#CreateTicket{
  background-color: #146fc1;
  color: white;
}